In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [80]:
df = pd.read_csv(r"C:\Users\Administrator\Downloads\Micro-Credit-Project\Data file.csv")

In [81]:
df.head()

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,2016-07-20
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,2016-08-10
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,2016-08-19
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,2016-06-06
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,2016-06-22

In [82]:
df.dtypes

Unnamed: 0                int64
label                     int64
msisdn                   object
aon                     float64
daily_decr30            float64
daily_decr90            float64
rental30                float64
rental90                float64
last_rech_date_ma       float64
last_rech_date_da       float64
last_rech_amt_ma          int64
cnt_ma_rech30             int64
fr_ma_rech30            float64
sumamnt_ma_rech30       float64
medianamnt_ma_rech30    float64
medianmarechprebal30    float64
cnt_ma_rech90             int64
fr_ma_rech90              int64
sumamnt_ma_rech90         int64
medianamnt_ma_rech90    float64
medianmarechprebal90    float64
cnt_da_rech30           float64
fr_da_rech30            float64
cnt_da_rech90             int64
fr_da_rech90              int64
cnt_loans30               int64
amnt_loans30              int64
maxamnt_loans30         float64
medianamnt_loans30      float64
cnt_loans90             float64
amnt_loans90              int64
maxamnt_loans90           int64
medianamnt_loans90      float64
payback30               float64
payback90               float64
pcircle                  object
pdate                    object
dtype: object

In [83]:
df.shape

(209593, 37)

In [84]:
df['pdate'].astype('datetime64')

0        2016-07-20
1        2016-08-10
2        2016-08-19
3        2016-06-06
4        2016-06-22
            ...
209588   2016-06-17
209589   2016-06-12
209590   2016-07-29
209591   2016-07-25
209592   2016-07-07
Name: pdate, Length: 209593, dtype: datetime64[ns]

In [85]:
index_names = df[ df['cnt_loans30'] == 0 ].index
df.drop(index_names, inplace = True)

In [86]:
df.shape

(206334, 37)

In [87]:
index_names1 = df[ df['cnt_loans90'] == 0 ].index
df.drop(index_names1,inplace = True)

In [88]:
df.shape

(206334, 37)

In [89]:
df1 = df.rename(columns = {'Unnamed: 0':'Customer_number'},inplace = False)

In [90]:
df1.head()

,Customer_number,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,2016-07-20
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,2016-08-10
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,2016-08-19
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,2016-06-06
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,2016-06-22

In [91]:
df1.set_index('Customer_number',inplace = True)

In [92]:
df1.head()

,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
Customer_number,,,,,,,,,,,,,,,,,,,,,
1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,1539,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,2016-07-20
2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,5787,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,2016-08-10
3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,1539,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,2016-08-19
4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,947,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,2016-06-06
5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,2309,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,2016-06-22

In [93]:
df1.skew(axis = 0)

label                   -2.243226
aon                     10.412316
daily_decr30             3.965795
daily_decr90             4.284159
rental30                 4.468993
rental90                 4.379261
last_rech_date_ma       14.802413
last_rech_date_da       14.763021
last_rech_amt_ma         3.838389
cnt_ma_rech30            3.276838
fr_ma_rech30            14.800651
sumamnt_ma_rech30        6.402651
medianamnt_ma_rech30     3.553197
medianmarechprebal30    14.778444
cnt_ma_rech90            3.427664
fr_ma_rech90             2.290585
sumamnt_ma_rech90        4.923172
medianamnt_ma_rech90     3.799376
medianmarechprebal90    45.512392
cnt_da_rech30           17.803363
fr_da_rech30            14.764186
cnt_da_rech90           27.137861
fr_da_rech90            28.775577
cnt_loans30              2.737129
amnt_loans30             2.997192
maxamnt_loans30         17.648609
medianamnt_loans30       4.510679
cnt_loans90             16.573289
amnt_loans90             3.145134
maxamnt_loans90          2.216911
medianamnt_loans90       4.877133
payback30                8.265049
payback90                6.897933
dtype: float64

In [94]:
df1 = df1.drop(['msisdn','pcircle'],axis = 1)

In [95]:
df1 = df1.drop(['pdate'],axis = 1)

In [96]:
x_data = df1.drop(['label'],axis =1)
y_data = df1['label']

In [97]:
from skew_autotransform import skew_autotransform

In [98]:
skew_autotransform(x_data, include = None, exclude = None, plot = False, threshold = 1, exp = False)

,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,cnt_ma_rech30,fr_ma_rech30,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
Customer_number,,,,,,,,,,,,,,,,,,,,,
1,5.007875,7.063366,6.857964,13.727007,11.583752,2.868565,1.986364,31.624181,0.793481,2.993640,...,0.589553,1.551326,0.136433,-1.666328e+06,0.600292,1.700162,0.089546,-2.098241e+07,3.113993,3.483684
2,5.641413,8.076737,7.802499,13.971596,11.751494,3.176564,1.986364,50.836330,0.009968,-4.726050,...,0.000000,1.551326,0.136433,-1.666328e+06,0.000000,1.700162,0.089546,-2.098241e+07,-5.143115,-4.399384
3,5.450142,6.484916,6.310847,13.777442,11.616678,2.890417,1.986364,31.624181,0.009968,-4.726050,...,0.000000,1.264623,0.136433,-1.666328e+06,0.000000,1.355357,0.089546,-2.098241e+07,-5.143115,-4.399384
4,4.931418,4.382941,4.305022,13.722439,11.578496,3.406182,1.986364,26.450913,-2.251392,-4.726050,...,0.589553,1.551326,0.136433,-1.666328e+06,0.600292,1.700162,0.089546,-2.098241e+07,-5.143115,-4.399384
5,5.833189,5.021444,4.918549,13.791938,11.626742,2.911526,1.986364,36.636475,2.819470,0.695411,...,1.264243,1.900247,0.136433,-1.666328e+06,1.323383,2.155489,0.089546,-2.098241e+07,0.834712,0.858870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209589,5.264127,5.025714,4.922639,13.791232,11.626252,2.845917,1.986364,44.791346,1.351915,0.695411,...,0.589553,1.551326,0.136433,-1.666328e+06,0.600292,1.700162,0.089546,-2.098241e+07,0.009948,0.009951
209590,5.918487,4.492695,4.410740,13.837131,11.658119,2.911526,1.986364,24.524225,1.800809,0.009950,...,0.853629,1.684589,0.136433,-1.666328e+06,0.877601,1.868410,0.089546,-2.098241e+07,0.009948,0.009951
209591,5.878522,8.059856,7.790136,14.110120,11.971470,2.890417,1.986364,31.624181,2.182549,2.056625,...,1.012133,1.900247,0.136433,-1.666328e+06,1.253765,2.226409,0.089546,-2.098241e+07,1.344317,1.364637
209592,6.238448,8.098310,7.827016,13.741360,11.620963,2.868565,2.212258,24.524225,2.182549,1.378042,...,0.589553,1.684589,0.136433,-1.666328e+06,0.877601,1.974934,0.089546,-2.098241e+07,-5.143115,2.408561
209593,6.177444,7.348562,7.130078,13.746730,11.602941,3.074556,1.986364,55.762990,0.793481,0.009950,...,0.589553,1.684589,0.136433,-1.666328e+06,0.600292,1.868410,0.089546,-2.098241e+07,-5.143115,-4.399384

In [99]:
x_data.skew(axis = 0)

aon                     -0.460033
daily_decr30             0.034212
daily_decr90             0.042868
rental30                 0.548479
rental90                 0.275609
last_rech_date_ma       -3.587661
last_rech_date_da      -36.505734
last_rech_amt_ma        -0.365742
cnt_ma_rech30           -0.182420
fr_ma_rech30             0.002773
sumamnt_ma_rech30       -0.566669
medianamnt_ma_rech30    -0.555374
medianmarechprebal30    -3.469857
cnt_ma_rech90           -0.109122
fr_ma_rech90            -0.178749
sumamnt_ma_rech90       -0.415343
medianamnt_ma_rech90    -0.372963
medianmarechprebal90     0.274330
cnt_da_rech30            6.891589
fr_da_rech30            11.355026
cnt_da_rech90            5.992204
fr_da_rech90            15.356436
cnt_loans30              0.162150
amnt_loans30             0.134713
maxamnt_loans30          0.000000
medianamnt_loans30       3.414345
cnt_loans90              0.146729
amnt_loans90             0.118094
maxamnt_loans90          0.000000
medianamnt_loans90       3.761657
payback30                0.090951
payback90               -0.037231
dtype: float64

In [100]:
 from sklearn.model_selection import StratifiedKFold
 skf = StratifiedKFold(n_splits=2)
 skf.get_n_splits(x_data, y_data)

2

In [101]:
StratifiedKFold(n_splits=2, random_state=None, shuffle=False)
for train_index, test_index in skf.split(x_data, y_data):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = x_data[train_index], x_data[test_index]
    y_train, y_test = y_data[train_index], y_data[test_index]

TRAIN: [102847 102852 102872 ... 206331 206332 206333] TEST: [     0      1      2 ... 103215 103216 103217]

KeyError: "None of [Int64Index([102847, 102852, 102872, 102874, 102891, 102897, 102898, 102902,\n            102904, 102906,\n            ...\n            206324, 206325, 206326, 206327, 206328, 206329, 206330, 206331,\n            206332, 206333],\n           dtype='int64', length=103167)] are in the [columns]"